<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-appodeal-framework" version="3.0.2" xmlns:android="http://schemas.android.com/apk/res/android" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>Appodeal Plugin</name>
  <description>Appodeal Plugin</description>
  <author>Appodeal</author>

  <engines>
    <engine name="cordova" version=">=8.0.0" />
    </engines>

    <js-module name="AppodealPlugin" src="www/appodeal.js">
      <clobbers target="Appodeal"/>
    </js-module>

    <platform name="android">
		  <preference name="ADMOB_APP_ID" default="your-admob-app-id-here"/>

      <config-file parent="/*" target="res/xml/config.xml">
          <feature name="AppodealPlugin">
              <param name="android-package" value="com.appodeal.plugin.AppodealPlugin"/>
          </feature>
      </config-file>

      <config-file parent="/manifest" target="app/src/main/AndroidManifest.xml" mode="merge">
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!--optional-->
        <uses-permission android:name="android.permission.VIBRATE" /><!--optional-->

        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
          tools:node="remove"/>
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"
          tools:node="remove" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
          tools:node="remove" />
        <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"
          tools:node="remove"/> 
        <uses-permission android:name="android.permission.READ_PHONE_STATE"
          tools:node="remove" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
          tools:node="remove" />
      </config-file>

      <config-file parent="/manifest/application" target="app/src/main/AndroidManifest.xml" mode="merge">
        <!-- Admob app id as required by play-services 17+ -->
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="$ADMOB_APP_ID"/>
      </config-file>

      <source-file src="src/android/AppodealPlugin.java" target-dir="app/src/main/java/com/appodeal/plugin" />
    	<framework src="src/android/appodeal.gradle" custom="true" type="gradleReference" />
	  </platform>

    <platform name="ios">
      <config-file parent="/widget" target="config.xml">
        <feature name="AppodealPlugin">
          <param name="ios-package" value="AppodealPlugin"/>
        </feature>
      </config-file>

      <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
          <dict>
              <key>NSAllowsArbitraryLoads</key>
              <true/>
              <key>NSAllowsArbitraryLoadsInWebContent</key>
              <true/>
          </dict>
      </config-file>

      <config-file target="*-Info.plist" parent="NSCalendarsUsageDescription">
          <string>Advertising</string>
      </config-file>

      <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
          <string>Advertising</string>
      </config-file>

      <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
          <string>Advertising</string>
      </config-file>

      <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
          <string>Advertising</string>
      </config-file>

      <header-file src="src/ios/AppodealPlugin.h"/>
      <source-file src="src/ios/AppodealPlugin.m"/>
      <framework src="Appodeal" type="podspec" spec="2.4.4.3-Beta" />
    </platform>
</plugin>
